{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
  <h1>Answers</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Answer</th>
        <th scope="col">Correct</th>
        <th scope="col">Question</th>
      </tr>
    </thead>
    <tbody>
      {% for answer in answers %}
      <tr>
        <th scope="row">{{ answer.id }}</td>
        <td>{{ answer.answer }}</td>
        <td>{{ answer.correct }}</td>
        <td>{{ answer.question_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
