{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
  <h1>Tablice</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">No</th>
        <th scope="col">Page</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <th scope="row">{{ board.id }}</th>
        <td>{{ board.no }}</td>
        <td>{{ board.page }}</td>
        <td>
          <a href="{% url 'board' board.pk %}">
            {{ board.title }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
