{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
  <h1>Prizes</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      {% for prize in prizes %}
      <tr>
        <th scope="row">{{ prize.id }}</th>
        <td>{{ prize.name }}</td>
        <td>{{ prize.description }}</td>
        <td>{{ prize.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
