{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Quiz</h1>
<p>
    Witaj w sekcji quizu! Za każdą poprawną odpowiedź otrzymasz 1 punkt. Pod koniec quizu wyświetli się twój wynik. Jeśli uczestniczysz w konkursie na terenie uczelni podejdź z wynikiem do stoiska i spytaj o nagrodę. Możesz wybrać między pytaniami ze wszystkich tablic lub z jednej konkretnej. Powodzenia! 
</p>
{% for board in boards %}
    <div class="board">
        <h2>{{ board.no }}{{ board.page }} {{ board.title }}</h2>
        <button><a href="{% url 'quiz' board.pk %}">Graj!</a></button>
    </div>
{% endfor %}
{% endblock %}
