{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Strona Główna</h1>
<p>
    Witamy na stronie startowej aplikacji pt. "Historia Informatyki". Powstała ona w ramach projektu zespołowego pod czujnym okiem Pani Doktor Hanny Furmańczyk oraz mentorów Anny Pawelczyk i Piotra Lewandowskiego z firmy Dynatrace.
</p> 

<p>
    Celem aplikacji jest umożliwienie interaktywnego poznawania historii informatyki w oparciu o tablice informacyjne położone w Instytucie Informatyki Uniwersytetu Gdańskiego. Zawiera ona elektroniczną wersję wszystkich plansz oraz quiz.
</p>

<div>
    Twórcami aplikacji są:
    <ul>
        <li>
            Karolina Pomian,
        </li>
        <li>
            Aleksandra Panek,
        </li>
        <li>
            Agnieszka Kamińska.
        </li>
    </ul>
</div>

{% endblock %}
